*.c   text eol=crlf
*.cpp text eol=crlf
*.h   text eol=crlf
*.ino text eol=crlf
*.md  text eol=crlf

SmartFuseBox/SmartFuseBox/Local.h merge=ours
SmartFuseBox/SmartFuseBox/SmartFuseBox.ino merge=ours
