*.c   text eol=crlf
*.cpp text eol=crlf
*.h   text eol=crlf
*.ino text eol=crlf
*.md  text eol=crlf

BoatControlPanel/Local.h merge=ours
BoatControlPanel/BoatControlPanel.ino merge=ours
SmartFuseBox/Local.h merge=ours
SmartFuseBox/SmartFuseBox.ino merge=ours